<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: red;
        color: white;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        vertical-align: middle;
      }
      h1 span {
        font-weight: bold;
        color: yellowgreen;
      }
    </style>
  </head>
  <body>
    <h1><span>500 Error</span> - Ha sucedido un error en la aplicación</h1>
    <h2>Contacte al administrador {{nombre}}</h2>
  </body>
</html>
